
$colorBackground: #ffffff;
$colorPrimary: #60b6e9;


@font-face {
  font-family: "GT Walsheim Pro";
  src: url(../fonts/GTWalsheimProRegular.ttf);
}

@font-face {
  font-family: "Brandon Grotesque Black";
  src: url(../fonts/brandon_grotesque.otf);
}

@font-face {
  font-family: "Fake Serif";
  src: url(../fonts/fake_serif.ttf);
}

.about-body{
    background-color: $colorBackground;
    width:100%;
}

#root{
    background-color: $colorBackground;
}

.paragraph{
 font-size: larger;
 font-family: GT Walsheim Pro;
}
.heading_1{
   h1{
       margin-left: 1vw;
   }
}

.heading_Meet{
    font-size: larger;
    font-family: GT Walsheim Pro;
    justify-content: center;
}
.contact{
  width: 50vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  padding:30px;
  margin-left:25vw;
  margin-right: 15vw;
  
}


.form-inline {  
  display: flex;
  flex-flow: column;
  align-items: stretch;
}

.form-inline label {
  margin: 5px 10px 5px 0;
}

.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border:none;
  border-bottom: 1px solid #ddd;
}

.form-inline button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
  float:right;
}
::placeholder {
  color: skyblue;
  opacity: 1; /* Firefox */
}
